<!-- Authors list -->

<!-- <h1>Angular</h1>

<authors></authors>
 -->
<!-- 2 favorite icon like/dislike - change button color-->

<!-- <favorite></favorite> -->
<!-- 3 Title Input fields-->
<!-- <h2>Titles form input</h2>
<input type="text" [(ngModel)]="title">
<br>
{{ title | titleCase }}\

<br>
<like 
	[likesCount]="tweet.likesCount"
	[isActive]="tweet.isLiked">
	
</like>

<br> -->
<!-- 4 Directives, zippy content -->
<!-- <br>
<h4>************************</h4>
<zippy title="Shipping Details">
	Shipping details component
</zippy>
<zippy title="Billing Details">
	Billing details component
</zippy>


<p>---------------------------</p>
 -->
 <!-- 5 Template driven Forms -->
<!-- <contact-form></contact-form>

<br> 
<p>***************************</p>-->
<!-- 6 Reactive forms -->
<!-- <signup-form></signup-form> -->
<!-- <change-password-form></change-password-form> -->

<!-- 7 Consuming HTTP services -->
<!-- <posts></posts> -->

<!-- Github followers excersize -->
<!-- <github-followers></github-followers> -->

<!-- 8 Routing and Navigation -->
<archive></archive>